* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Bayon&display=swap");

.nav-bar {
  font-family: khmer MOMO;
  height: 50px;
  width: 100%;
  background-color: #ece6e6;
  /* color: whitesmoke; */
  position: sticky;
  top: 0;
  z-index: 100;
}
.container-width {
  width: 87%;
  margin: auto;
}
.navigation {
  width: 87%;
  height: 50px;
  /* background-color: grey; */
  display: flex;
  margin: auto;
}
.nav-left {
  display: flex;
  width: 35%;
  height: 100%;
  /* background-color: grey; */
}
.nav-center {
  font-family: khmer ArchivoBlack;
  width: 20%;
  height: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 55px;
  color: black;
  /* background-color: grey; */
}
.nav-right {
  width: 45%;
  height: 100%;
  /* background-color: grey; */
}
.nav-left > ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  align-items: center;
  /* justify-content: center; */
}
.nav-left ul li {
  font-size: 20px;
  font-weight: bold;
  height: 100%;
  /* background-color: blue; */
  display: flex;
  place-items: center;
  padding: 0 15px;
  text-transform: uppercase;
}

.nav-left ul li:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
.nav-right ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
  justify-content: end;
  height: 100%;
  /* background-color: green; */
  align-items: center;
}
.nav-right ul li {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 15px;
  /* background-color: blue; */
  font-weight: bold;
}
.nav-right ul li i {
  font-size: 25px;
}
.nav-right ul li p{
  background-color: red;
  color: white;
  width: 20px;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  margin-left: 25px;
  margin-bottom: 25px;
}
.nav-right ul li:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}
.search {
  display: flex;
  background-color: rgb(255, 255, 255);
  height: 60%;
  align-items: center;
  width: 150px;
  padding-left: 10px;
  /* border: 2px solid black; */
  border-radius: 5px;
}
.search input {
  background-color: transparent;
  outline: none;
  border: none;
  width: 75%;
  height: 100%;
}
.search i {
  width: 25%;
}
.nav-right ul li:hover:first-child {
  background-color: transparent;
}
.hero-section {
  width: 87%;
  height: 800px;
  /* background-color: red; */
  margin: auto;
}
.img-hero {
  width: 100%;
  height: 100%;
  position: relative;
}

@font-face {
  font-family: khmer ArchivoBlack;
  src: url(Fonts/ArchivoBlack-Regular.ttf);
}
@font-face {
  font-family: khmer MOMO;
  src: url(Fonts/MomoTrustDisplay-Regular.ttf);
}

.btn-container {
  position: absolute;
  bottom: 13%;
  left: 40%;
  display: flex;
  gap: 20px;
}
.btn-container button {
  padding: 15px 20px;
  background-color: transparent;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  transition: transform 0.3s ease-in-out, background-color 0.5s ease-in-out;
}
.btn-container button:hover {
  transform: translateY(-20px);
  background-color: blue;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  cursor: pointer;
}
.brand {
  display: flex;
  height: 200px;
  /* background-color: rebeccapurple; */
}
.brand-img {
  width: 14.28%;
  height: 100%;
  /* background-color: RED; */
}
.brand-img img {
  width: 100%;
  height: 100%;
}

.life-style {
  display: flex;
  gap: 1%;
  height: 700px;
  /* background-color: aqua; */
}
.life-style div {
  width: 33%;
  height: 100%;
  /* background-color: blue; */
}
.life-style div img {
  width: 100%;
  height: 100%;
}
.life-style1 {
  margin-top: 1%;
  display: flex;
  gap: 1%;
  height: 750px;
  /* background-color: antiquewhite; */
}
.life-style1 div {
  width: 49.5%;
  /* background-color: red; */
}
.life-style1 div img {
  height: 100%;
  width: 100%;
}
.main-setion {
  /* height: 500px; */
  /* background-color: aquamarine; */
  margin-top: 40px;
}
.title-head-main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-head-main-section a{
  font-size: 25px;
  color: black;
  text-decoration: none;
}
.main-cart{
  display: flex;
  margin-top: 20px;
  height: 550px;
  gap: 1%;
  /* background-color: red; */
}
.cart{
  height: 100%;
  width: 24.75%;
  background-color: burlywood;
}
.cart img{
  width: 100%;
  height: 100%;
}